# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# VS Code
.vscode/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# node_modules
node_modules/
package-lock.json

# egg.js Runtime
run/
logs/

# upload files
app/upload/
